* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 13px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.filter {
  margin: 0 10px;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  width: 80%;
  margin: 10px auto;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 400px;
  height: 200px;
  border: 5px solid;
  border-radius: 5px;
  background-position: center center;
  background-size: 400px 300px;
}

.top-detail {
  display: flex;
  justify-content: space-between;
}