* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  --theme-black: #4a6163;
  --theme-white: #f9faf4;
  --theme-red: #f17a7e;
  --theme-orange: #f9a66c;
  --theme-yellow: #ffc94b;
}

.App {
  background-color: var(--theme-white);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  padding-bottom: 20px;
  color: var(--theme-black);
  font-size: 1.5rem;
}

.slash {
  height: 5px;
  width: 100px;
  margin-top: 10px;
  background-color: var(--theme-yellow);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.filter {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 3px;
  color: var(--theme-yellow);
  cursor: pointer;
  transition-duration: 0.7s;
}

.filter:hover {
  color: var(--theme-white);
  background-color: var(--theme-black);
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  width: 80%;
  margin: 10px auto;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 400px;
  height: 220px;
  margin-bottom: 20px;
  border: 5px solid var(--theme-yellow);
  border-radius: 5px;
  background-position: center center;
  background-size: 400px 300px;
}

.top-detail {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px dotted var(--theme-black);
}

.title-detail {
  color: var(--theme-red);
}

.price-detail {
  color: var(--theme-black);
}

.bottom-detail {
  color: var(--theme-orange)
}

@media screen and (min-width: 769px) {
  :root {
    font-size: 16px;
  }

  .slash {
    width: 150px;
  }

  .nav {
    height: 170px;
  }

  .filter {
    margin: 0 20px;
    padding: 7px 25px;
    font-size: 1.2rem;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 50px 50px;
  }

  .card {
    flex-direction: row;
  }

  .card-img {
    width: 200px;
    height: 120px;
    background-size: 200px 130px;
  }

  .card-detail {
    width: 300px;
    margin-left: 20px;
  }

  .top-detail {
    font-size: 1.05rem;
  }
}